<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="arm_description_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="rotating_base">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rotating_base']}</param>
                </state_interface>
            </joint>
            <joint name="shoulder_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['shoulder_joint']}</param>
                </state_interface>
            </joint>
            <joint name="elbow_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['elbow_joint']}</param>
                </state_interface>
            </joint>
            <joint name="differential_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['differential_joint']}</param>
                </state_interface>
            </joint>
            <joint name="differential_rotation_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['differential_rotation_joint']}</param>
                </state_interface>
            </joint>
            <joint name="actuator_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['actuator_joint']}</param>
                </state_interface>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
