# This config file is used by ros2_control
controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController


    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

arm_controller:
  ros__parameters:
    joints:
      - rotating_base
      - shoulder_joint
      - elbow_joint
      - differential_joint
      - differential_rotation_joint
      - actuator_joint
    command_interfaces:
      - position
    state_interfaces:
      - position